@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-darkest: #432323;
  --color-dark: #2F5755;
  --color-medium: #5A9690;
  --color-light: #E0D9D9;
  --color-lightest: #F5F5F5;

  --font-work-sans: "Work Sans", sans-serif;
  --font-manrope: "Manrope", sans-serif;
}

@keyframes barberpole {
  from { background-position: 0 0; }
  to { background-position: 28px 0; }
}

@theme inline {
  --animate-barberpole: barberpole 600ms linear infinite;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-work-sans);
  --font-heading: var(--font-manrope);
  /*--font-mono: var(--font-geist-mono);*/

  /* Card */
  --card-background: var(--color-light);
  --card-background-dark: var(--color-dark);
  --card-text: var(--color-light);
  --card-text-dark: var(--color-darkest);

  /* CTA Bar */
  --cta-bar-background: var(--color-light);
  --cta-bar-text: var(--color-darkest);

  /* Page Header */
  --page-header-background: var(--color-darkest);
  --page-header-text: var(--color-light);

  /* Footer */
  --footer-background: var(--color-darkest);
  --footer-text: var(--color-light);
  --footer-border: var(--color-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    /*--background: #0a0a0a;*/
    /*--foreground: #ededed;*/
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}
